div.horizontal-tabs {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border-color: #d0d7d9;
}
div.horizontal-tabs .horizontal-tabs-list {
  background: #F5F5F5;
  border-bottom: 1px solid #d0d7d9;
}
div.horizontal-tabs .horizontal-tabs-list li {
  background: #F5F5F5;
  border-color: #d0d7d9;
  padding: 0;
  text-align: center;
}
div.horizontal-tabs .horizontal-tabs-list li strong {
  color: #006699;
}
div.horizontal-tabs .horizontal-tabs-list li.selected strong {
  color: #004466;
}
div.horizontal-tabs .horizontal-tabs-list li a:hover, div.horizontal-tabs .horizontal-tabs-list li:hover, div.horizontal-tabs .horizontal-tabs-list li:focus {
  background: #F5F5F5;
}
