body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	color: #333;
	background-color: #FFF;
}

table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #DDD;
}

table thead th {
	background: #fff;
	border-bottom: 1px solid #B6CAD0;
	color: #333;
	text-shadow: 0 1px 0 #FFF;
	padding-right: 1em;
	text-align: left;
}

table thead th a {
	color: #333;
	font-style: italic;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #DDD;
}

table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th,
td.odd {
	background-color: #F9F9F9;
	border-bottom: none;
}

table > tbody > tr:nth-child(even) > td,
table > tbody > tr:nth-child(even) > th,
td.even {
	background-color: #fff;
	border-bottom: none;
}

a {
	text-decoration: none !important;
}

div.messages, .alert, .well {
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid;
	margin: 5px;
}

.well {
	background-color: #D9EDF7;
	color: #333;
	padding: 15px;
	border: none;
	border-radius: 0;
}

div.messages.warning, .alert-warning {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
}

div.messages.info, .alert-info {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #31708F;
}

div.messages.success, .alert-success, div.messages.status {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}

div.messages.status,
div.messages.warning {
	margin: 15px 25px
}

.views-edit-view div.messages.warning,
.block-system div.messages.warning {
	margin: 15px 0;
}

div.messages.danger, .alert-danger {
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}

select {
	height: 2em;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

/*.module .ctools-button {*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/

.module .admin-operations ul {
	margin: 0;
	padding: 0;
}

.ctools-button-processed {
	color: #333;
	background-color: #FFF;
	border-color: #CCC;
	font-size: 12px;
	border-radius: 3px;
}

.ctools-button-processed.open li {
	/*border-color: #CCC;*/
}

/*.ctools-button-processed:hover, .ctools-button-processed:focus {*/
/*color: #333;*/
/*background-color: #EBEBEB;*/
/*border-color: #ADADAD;*/
/*}*/

.ctools-dropbutton-processed .ctools-link {
	border-left: 1px solid #CCC;
}

#tasks .inner {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

#overlay-tabs {
	display: block !important;
	position: absolute;
	right: 20px;
	text-transform: uppercase;
	bottom: -1px;
	font-size: 1.54em;
	line-height: 1.54em;
	margin: 0;
}

#overlay-tabs li {
	display: inline;
	list-style: none;
	margin: 0 -2px;
	padding: 0;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover {
	background-color: #A6A7A2;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-radius: 8px 8px 0 0;
	color: #000;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 2px 0;
	outline: 0;
	padding: 0 14px;
	text-decoration: none;
}

#overlay-tabs li.active a, #overlay-tabs li.active a.active, #overlay-tabs li.active a:active, #overlay-tabs li.active a:visited {
	background-color: #FFF;
	margin: 0;
	padding-bottom: 2px;
}

#overlay-tabs li.active a:focus, #overlay-tabs li.active a:hover {
	color: #000;
}

#overlay-tabs li a:focus, #overlay-tabs li a:hover {
	color: #FFF;
}

#overlay-content .limiter {
	padding-bottom: 10px;
}

#tasks {
	/*display: none;*/
	top: 30px;
	background: #666;
	border: 1px solid #666;
}

#tasks a {
	border: 1px solid #666;
	font-size: 12px;
}

#tasks a.active {
	background: #555;
	border: 1px solid #555;
}

#tasks a:hover {
	background: #444;
	border: 1px solid #444;
}

#overlay #tasks {
	display: none;
	/*top: 30px;*/
}

#overlay-content #page {
	margin: 0;
}

ul.action-links {
	margin: 1em 0;
	padding: 0 20px 0 20px;
	list-style-type: none;
	overflow: hidden;
}

ul.action-links li {
	float: left;
	margin: 0 1em 0 0;
}

ul.action-links a {
	padding-left: 15px;
	background: rgba(0, 0, 0, 0) url(../images/add.png) no-repeat 0 center;
	line-height: 30px;
}

#breadcrumb .breadcrumb {
	/*padding: 8px 15px;*/
	/*margin-bottom: 20px;*/
	/*list-style: none;*/
	/*background-color: #F5F5F5;*/
	/*border-radius: 4px;*/
}

#breadcrumb .breadcrumb > li {
	display: inline-block;
	font-size: 14px;
	line-height: 1.42857143;
}

#breadcrumb .breadcrumb a {
	color: #428BCA;
	text-decoration: none;
	border: none;
}

#breadcrumb .breadcrumb a:hover, #breadcrumb .breadcrumb a:focus {
	color: #2A6496;
	text-decoration: underline;
}

#breadcrumb .breadcrumb > .active {
	color: #999;
}

.views-edit-view a {
	text-decoration: none;
	font-size: 12px;
}

input[type="submit"], #edit-cancel, #edit-reset, .btn-group li {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #CCC;
	white-space: nowrap;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #333;
	background-color: #FFF;
	margin-right: 5px;
}

#system-performance-settings input[type="submit"] {
	margin: 10px 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
#edit-cancel:hover,
#edit-cancel:focus,
.btn-group li:hover,
.btn-group li.active {
	color: #333;
	background-color: #EBEBEB;
	border-color: #ADADAD;
}

input[value="Disable"],
#edit-actions-save,
#edit-next {
	color: #FFF;
	background-color: #428BCA !important;
	border-color: #357EBD !important;
}

input[value="Disable"]:hover,
#edit-actions-save:hover,
#edit-next:hover {
	color: #FFF;
	background-color: #3276B1 !important;
	border-color: #285E8E !important;
}

input#edit-delete,
input#edit-actions-delete,
input#edit-remove,
input#edit-actions-remove,
input[value="Delete"],
input[value="Remove"],
input[value="Uninstall"] {
	color: #FFF;
	background-color: #D9534F !important;
	border-color: #D43F3A !important;
}

input#edit-delete:hover,
input#edit-actions-delete:hover,
input#edit-remove:hover,
input#edit-actions-remove:hover,
input[value="Delete"]:hover,
input[value="Uninstall"]:hover,
input[value="Remove"]:hover {
	color: #FFF;
	background-color: #D2322D !important;
	border-color: #AC2925 !important;
}

#edit-submit,
input[value="Export"],
#edit-actions-submit {
	color: #FFF;
	background-color: #5CB85C;
	border-color: #4CAE4C;
}

#edit-submit:hover,
input[value="Export"]
#edit-actions-submit:hover {
	color: #FFF;
	background-color: #47A447;
	border-color: #398439;
}

#edit-reset {
	color: #FFF;
	background-color: #F0AD4E;
	border-color: #EEA236;
}

#edit-reset:hover {
	color: #FFF;
	background-color: #ED9C28;
	border-color: #D58512;
}

input[value="Upload"] {
	margin-bottom: 5px !important;
	border-radius: 0 4px 4px 0;
	color: #555;
	background-color: #EEE;
	border: 1px solid #CCC;
}

/*input[value="Upload"]:hover {*/
/*color: #FFF;*/
/*background-color: #39B3D7 !important;*/
/*border-color: #269ABC !important;*/
/*}*/

input[type="file"] {
	height: 18px;
	vertical-align: middle;
	line-height: 18px;
	padding: 5px;
	margin-right: -1px !important;;
	margin-bottom: 5px !important;
	border: 1px solid #CCC;
	border-radius: 4px 0 0 4px;
}

/*input[type="file"]:hover {*/
/*color: #333;*/
/*background-color: #EBEBEB !important;*/
/*border-color: #ADADAD !important;*/
/*}*/

.views-displays .secondary a {
	font-size: 14px;
	padding: 10px 15px;
}

.views-displays .secondary a:hover,
.views-displays .secondary a:focus {
	color: #08C;
	background: #ddd !important;
}

.views-displays .secondary .active a {
	color: #FFF;
	background: #428BCA !important;
}

.views-displays .secondary a:hover > .icon.add {
	background-position: center 3px;
}

#dashboard #disabled-blocks h2 {
	color: #FFF;
}

ul.contextual-links li a:hover {
	background-color: #fff;
	text-decoration: underline;
}

.fieldsets-group {
	/*border: none;*/
}

.fieldsets-group fieldset .fieldset-legend {
	font-size: 13px;
	color: #FFF;
	background-color: #428BCA;
	border-color: #428BCA;
}

.fieldsets-group fieldset .fieldset-legend a {
	color: #fff;
	font-weight: normal;
	text-shadow: none;
}

.fieldsets-group fieldset.collapsed .fieldset-legend a {
	color: #555 !important;
	font-weight: normal;
	text-shadow: none;
}

.fieldsets-group fieldset.collapsed .fieldset-legend {
	color: #555;
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}

.fieldsets-group fieldset.collapsed .fieldset-legend:hover {
	background-color: #F5F5F5;
}

fieldset .fieldset-legend span.summary {
	color: #fff;
	font-weight: normal;
	text-shadow: none;
}

fieldset.collapsed .fieldset-legend span.summary {
	color: #555;
	font-weight: normal;
	text-shadow: none;
}

div.vertical-tabs ul.vertical-tabs-list li {
	background: #fff;
	text-shadow: none;
}

.vertical-tabs ul.vertical-tabs-list li a strong {
	font-weight: normal;
	color: #333 !important;
}

.vertical-tabs ul.vertical-tabs-list li a:hover strong,
.vertical-tabs ul.vertical-tabs-list li a:hover,
.vertical-tabs ul.vertical-tabs-list li a:focus {
	text-decoration: none;
	outline: none;
	background-color: #F5F5F5;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	font-size: 14px;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus,
input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

#module-filter-tabs li strong {
	font-size: 13px;
}

.form-item-field-tag-und {
	height: 100%;
	margin-bottom: 4em;
}

#id.class:hover {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.btn-group {
	/*float: right;*/
	/*position: relative;*/
	/*padding: 0 20px;*/
}

.btn-group li {
	position: relative;
	float: left;
	list-style-type: none;
	margin: 0;
	border-radius: 0;
	margin-left: -1px;
}

.btn-group li:first-child {
	border-radius: 4px 0 0 4px;
}

.btn-group li:last-child {
	border-radius: 0 4px 4px 0;
}

.btn-group li a {
	font-size: 13px;
	color: #000;
}

/*Admin menu customize*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('./osans/opensans-regular.eot');
	src: url('./osans/opensans-regular.eot?#iefix') format('embedded-opentype'),
	url('./osans/opensans-regular.woff') format('woff'),
	url('./osans/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

#admin-menu {
	font-size: 14px;
	font-family: 'OpenSansRegular', sans-serif, Arial, Verdana, "Trebuchet MS";
	box-shadow: none;
	background: #333;
}

#admin-menu .dropdown li li {
	opacity: 1;
}